/* Desktop view */
@media (min-width: 700px) {
  #menuButton {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    background: none;
  }
nav ul li{
  background: var(--primary-color);
  border-radius: 10px;
  margin: 0px 6px;
}
  nav ul li a {
    padding: 0.5rem 1rem;
    
  }
  nav ul li a:hover{
    color: rgb(43, 43, 30);
    background: #c5caca49;
    
  }
}
