/* Minimal normalize for project */
html{
    box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}
body, h1,h2,h3,h4,h5,h6,p,figure,blockquote,dl,dd{margin:0}
ul
[role="list"], ol[role="list"]{list-style:none}
img
{max-width:100%;display:block}
a{background-color:transparent}
button{font:inherit}
