*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    padding: 20px;
}
.cards{
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.cards h2{
    text-align: center;
    padding: 10px;
}
.cards section{
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(126, 126, 126, 0.521);
    padding: 5px 10px;
    background: rgba(224, 224, 255, 0.425);
}
.cards img{
    border-radius: 10px;
    
}